/*Fonts*/
@font-face {
  font-family: "Calibri Light";
  src: url("../fonts/calibri/calibril.woff");
  font-weight: 300;
}
@font-face {
  font-family: "Calibri Regular";
  src: url("../fonts/calibri/calibri.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Calibri Bold";
  src: url("../fonts/calibri/calibrib.woff");
  font-weight: 700;
}
/*Common*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Calibri Regular", serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  list-style: none;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: #3a605c;
}

/*Header*/
.header__container {
  padding: 40px 0 0 0;
}
.header__info {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}
@media (max-width: 767px) {
  .header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.header__navigation {
  padding: 20px;
}

.info__address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.info__email img {
  width: 50px;
  height: 50px;
}
.info__tel img {
  width: 50px;
  height: 50px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 374px) {
  .profile {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
.profile__photo {
  max-width: 224px;
}
.profile__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.profile__identity {
  color: #FFFFFF;
}
.profile__name {
  margin: 0 0 15px 0;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.navigation__link {
  font-size: 20px;
}
.navigation__link:hover {
  display: inline-block;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/*Main*/
.main {
  padding: 50px;
  background: #88BDBC;
}
.main__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main__point-info {
  position: relative;
  padding: 0 0 0 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  max-width: 700px;
}
.main__point-info:not(:last-child) {
  margin: 0 0 70px 0;
}
@media (max-width: 375px) {
  .main__point-info:not(:last-child) {
    font-size: 16px;
  }
}

.contact-info::before {
  content: "";
  background: url("../img/icons/contact-info.svg") 0 0/50px 50px no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.summary::before {
  content: "";
  background: url("../img/icons/summary.svg") 0 0/50px 50px no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.skills::before {
  content: "";
  background: url("../img/icons/skills.svg") 0 0/50px 50px no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.code-example::before {
  content: "";
  background: url("../img/icons/code-example.svg") 0 0/50px 50px no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.code-example__example {
  display: block;
  padding: 20px;
  background: black;
  color: white;
  max-width: 250px;
}

.experience a {
  color: crimson;
}
.experience::before {
  content: "";
  background: url("../img/icons/experience.svg") 0 0/50px 50px no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.education a {
  color: crimson;
}
.education::before {
  content: "";
  background: url("../img/icons/education.svg") 0 0/50px 50px no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.english::before {
  content: "";
  background: url("../img/icons/english.svg") 0 0/50px 50px no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
/*Footer*/
.footer {
  background: #5fa29a;
  padding: 20px;
}
.footer__copy {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.social-footer__items {
  display: flex;
  justify-content: space-around;
}
.social-footer__item img {
  width: 80px;
  height: 80px;
}

/*# sourceMappingURL=style.css.map */
